/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/public/storage
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/
/storage/api-docs/
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
/vendor
/resources/views/vendor
.env
